.modal-title {  
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
  }

  .item-modal {
    margin-top: 10px;
  }

  .modal-content {
    font-family: 'YESGothic-Regular';
  }

  .modal-body {
    height: 400px;
  }

  #Search-subject {
    margin-top: 10px;
  }

  .aside {
    width: 100%;
    height: 100px;
    background-color: darkslategray;
  }

  .search {
    height: 50px;
    margin: 0px 190px;
    padding: 30px 20px;
    width: 1400px;
    margin:0 auto;
  }

  #write {
    margin-top: 30px;
  }

  table.type09 thead th {
    padding: 10px 20px;
    font-weight: bold;
    vertical-align: top;
    color: darkslategray;
    border-bottom: 3px solid darkslategray;
  }

  table.type09 tbody td a {
    color: black;
  }

  @font-face {
    font-family: 'YESGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESGothic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-size: 16px;
  }

  #write {
    font-size: 16px;
  }

  #board {
    font-family: 'YESGothic-Regular';
    width: 1400px;
    margin:0 auto;
  }

  hr {
    margin-top: 30px;
    color: darkslategray;
  }

  .name {
    padding-right: 10px;
    font-family: 'YESGothic-Regular';
    color: darkslategray;
  }

  .subject {
    background-color: rgb(228, 228, 228);
    border: 0.1em inset gray;
    width: 150px;
  }

  .professor {
    width: 100px;
    margin-left:-3px;
  }

  .item {
    width: 100px;
  }

  .title {
    width: 100px;
  }

  #submit {
    float: right;
    font-size: 16px;
    margin-top: 13px;
  }

  table.type09 {
    margin-left: 200px;
    width: 1400px;
    margin:0 auto;
    font-family: 'YESGothic-Regular';
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
  }

  table.type09 td {
    width: 700px;
    padding: 20px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  }

  #title {
    font-family: 'YESGothic-Regular';
    margin:0 auto;
    width:1400px;
    font-size: 40px;
    padding:20px;
    color: white;
  }

  .page-link {
    color: darkslategray;
    background-color: white;
  }
  html.body{
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
  }