.custom-select {
    width: 24%;
    height: 40px;
    font-size: 16px;
}

.aside {
    margin-left: 0px;
    height: 90px;
    background-color: darkslategray;
}

#title {
    font-family: 'YESGothic-Regular';
    float: left;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 60px;
    color: white;
}

body {
    font-size: 16px;
}

#write {
    font-size: 16px;
}