{% load static %}
<!doctype html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <link rel="stylesheet" href="{% static 'loginapp/signup.css' %}">
    <meta charset="utf-8">
    <title>회원가입</title>
    <script language="javascript">
        function pop_close() {
            self.close();
        }
    </script>
</head>

<body class="card">
    <div class="tit"><h1 class="title">회원가입</h1></div>

    <form method="POST" action="{%url 'id_check'%}">
        <table class="tab">
            {% csrf_token %}
            <tr>
                <td style='width:120px'>ID</td>
                <td>
                        <div class="input-group">
                            {{idcheck_form.username}}
                            <span class="input-group-btn">
                                <input class="btn"
                                type="submit" name="id_check" value="ID 중복확인">
                            </span>
                        </div>
                    {%if idcheck_form.username.errors%}
                                {{idcheck_form.username.errors}}
                            {%elif check != None%}
                                <li>사용하셔도 됩니다.</li>
                            {%endif%}

                </td>
            </tr>
    </form>
    <form method="POST" action="{%url 'sign_up'%}">
        {% csrf_token %}
        <tr>
            <td>{{signup_form.username}}</td>

        </tr>

        <tr>
            <td style='width:120px'>비밀번호</td>
            <td>{{signup_form.password1}}</td>
        </tr>

        <tr>
            <td style='width:120px'>비밀번호 확인</td>
            <td>{{signup_form.password2}}{{signup_form.password2.errors}}</td>

        </tr>
        <tr>
            <td style='width:120px'>이름</td>
            <td>{{signup_form.name}}</td>
        </tr>

        <tr>
            <td style='width:120px'>학번</td>
            <td>{{signup_form.student_ID}}</td>
        </tr>
        <tr>
            <td style='width:120px'>이메일</td>
            <td>{{signup_form.email}}{{signup_form.errors}}</td>
            
        </tr>
        </table>
        <input class="btn btn-block" id="sign" type="submit" name="sign_up" value="회원가입">
        <button class="btn btn-block" id="sign"><a href="{%url 'home' %}" style="color:balck;text-decoration: none;">회원가입 취소</a></button>
    </form>
    

</body>

</html>