{% load static %}
{% load custom_tags %}
<!doctype html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
  <link rel="stylesheet" href="{% static 'mainapp/css/menu.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <meta charset="utf-8">
  <title>ISL PAGE</title>
</head>

<body>
  <div class="nav_bar">
    <nav id="mainNav">
      <div class=logo>
        <img src="{% static 'mainapp/img/logo.jpg'%}" id="image">
        <a class="navbar-brand" id="I_S_L" href="{%url 'home' %}">I.S.L</a>
      </div>
      <div class="" id="navbarResponsive">
        <ul class="" id="outer-menu">
          {% if user.is_active%}
          <li><a class="btn-sm btn-outline-light" id="login"
              href="javascript:{document.getElementById('logout').submit()}">LOGOUT</a></li>
          <li><a class="btn-sm btn-outline-light" id="login" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">{{ user.username }} 로그인 중</a></li>
          <form id="logout" method="POST" action="{%url 'logout'%}">
            {%csrf_token%}<input type="hidden" />
          </form>
          {% else %}
          <li><a class="btn-sm btn-outline-light" id="login" href="{%url 'sign_up'%}">회원가입</a></li>
          <li><a class="btn-outline-light btn-sm" id="login" href="{%url 'sign_in'%}">로그인</a></li>
          {% endif %}
          <li class="nav-item">
            {% if user|has_group:"ISL_USER"%}
            <a class="nav-link" href="{%url 'dataroom' %}">자료실</a>
            {%else%}
            <a class="nav-link" id="dataroom_link" href="{%url 'dataroom' %}">자료실</a>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'home' %}">랩실소개</a>
          </li>

          <script>
            $(document).ready(function () {
              $('#dataroom_link').click(function (e) {
                e.preventDefault();
                alert("랩실원만 열람 가능합니다!");
              });
            });
          </script>
        </ul>
      </div>
    </nav>
  </div>
  {% block contents %}
  {%endblock%}
</body>

</html>