{%extends 'base.html'%}
{% block contents %}
{%load static%}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="{% static 'boardapp/edit.css' %}"> -->
    <style>
        .custom-select {
            width: 24%;
            height: 40px;
            font-size: 16px;
        }

        .aside {
            margin-left: 0px;
            height: 90px;
            background-color: darkslategray;
        }

        #title {
            font-family: 'YESGothic-Regular';
            float: left;
            font-size: 40px;
            margin-top: 20px;
            margin-left: 60px;
            color: white;
        }

        body {
            font-size: 16px;
        }

        #write {
            font-size: 16px;
        }

        .table_td {
            width: 150px;
        }
    </style>
    <link rel="stylesheet" href="{% static 'boardapp/edit.css' %}">
</head>

<body>
    <hr class="hr">
    <div class="container" style="margin-top: 80px;">
        <div class="aside">
            <h4 id="title">수정하기</h4>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row" class="table_th">과목</th>
                        <td>
                            <div>
                                <input style="width:20%;" type="text" name="edit_subject"
                                    value="{{form.subject.value}}"> * 강의명은 한밭대학교 종합정보시스템에 기록된 그대로 입력할 것.
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="table_th">교수</th>
                        <td>
                            <div>
                                <input style="width:20%;" type="text" name="edit_professor"
                                    value="{{form.professor.value}}"> * ex) 이지은(O) 이지은 교수님(X).
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="table_th">항목</th>
                        <td>
                            <div class="table_td">
                                <!-- <select class="custom-select" id="inputGroup-sizing-sm" name="item" value="{{form.item.value}}">
                                    <option>중간</option>
                                    <option>기말</option>
                                    <option>과제</option>
                                </select> -->
                                {{form.item}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="table_th">년도</th>
                        <td>
                            <div><input style="width:25%;" type="text" name="edit_year" value="{{form.year.value}}">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="table_th">제목</th>
                        <td>
                            <div><input style="width:50%;" type="text" name="edit_title" value="{{form.title.value}}">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="table_th">첨부파일</th>
                        <td>
                            <div class="form-group">
                                {% if dataroom.filename %}
                                <p>첨부파일 변경</p>
                                {{form.upload_files}}
                                <p id="file">현재:<span><a id="file" href="{% url 'file_download' dataroom.id %}">{{dataroom.filename}}</a></span></p>
                                {%else%}
                                <p>등록된 파일이 없습니다.</p>
                                {{form.upload_files}}
                                {%endif%}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input class="btn btn-dark" id="write" type="submit" value="수정하기">
        </form>
    </div>
    <script>
    </script>
</body>
{% endblock %}